aws_region                      = "us-east-1"
project_name                    = "llms_txt"
web_crawler_image_uri           = "123456789012.dkr.ecr.us-east-1.amazonaws.com/dev_llms_txt_web_crawler:git-sha"
html_parser_image_uri           = "123456789012.dkr.ecr.us-east-1.amazonaws.com/dev_llms_txt_html_parser:git-sha"
llms_txt_generator_image_uri     = "123456789012.dkr.ecr.us-east-1.amazonaws.com/dev_llms_txt_generator:git-sha"
nightly_refresh_image_uri        = "123456789012.dkr.ecr.us-east-1.amazonaws.com/dev_llms_txt_nightly_refresh:git-sha"
nightly_refresh_schedule_expression = "cron(0 3 * * ? *)"
nightly_refresh_schedule_timezone = "America/New_York"
parser_max_attempts             = 2
parser_retry_delay_seconds      = 30
parser_max_depth                = 2
parser_max_discovered_pages     = 1000
parser_max_links_per_page       = 100
parser_maximum_concurrency      = 25
parser_memory_size              = 2048
generator_model_id              = "us.moonshotai.kimi-k3"
generator_max_input_pages       = 500
generator_max_output_links      = 30
generator_max_excerpt_chars     = 1000
generator_max_model_tokens      = 4000
generator_maximum_concurrency   = 2
generator_memory_size           = 1024
generator_timeout_seconds       = 300
