AWS_REGION=us-east-1
AWS_PROFILE_NAME=AWS_PROFILE_TO_RUN_LOCALLY
ENVIRONMENT=dev
PROJECT_NAME=llms_txt
APPLICATION_S3_BUCKET=dev-llms-txt-s3-123456789012
CRAWL_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/url
COGNITO_USER_POOL_ID=us-east-1_example
COGNITO_APP_CLIENT_ID=example
CORS_ORIGINS=http://localhost:5173
